<div class="myrow">
    <h3 class="text-dark" style="font-size: 40px">About</h3>
    <hr width="90px" align="left" style=" border: 1px solid blue;" />

    <div class="row justify-content-md-between mt-5">
        <div class="col-md-7 text-dark">
            <h4 class="fst-italic mb-3 text-primary">Mission</h4>
            <b><a href="https://www.ceeman.org/programs-events/network-events/31st-ceeman-annual-conference">20-22 сентября 2023 года в г. Алматы пройдет 31st CEEMAN Annual Conference.</a></b>
            Принимающей стороной является Almaty Management University.
            Конференция пройдет по теме «Лидерство для устойчивого мира».
            Конференция включает в себя выдающиеся основные доклады,
            презентации и интерактивные круглые столы из научных кругов и
            бизнеса, а также параллельные мероприятия, такие как визиты компаний,
            постерную сессию для преподавателей и исследователей, консультативные встречи,
            сессии по аккредитации, ежегодное собрание CEEMAN, а также важные общественные мероприятия.
            В рамках 31st CEEMAN Annual Conference Almaty Management University проводит круглый стол
            для исследователей и преподавателей университетов по теме <b>«Вклад университетов
            Центральной Азии в достижение Целей устойчивого развития ООН».</b>
            CEEMAN является международной ассоциацией развития менеджмента, основанной в 1993 году с
            целью ускорения роста качества развития менеджмента в Центральной и Восточной Европе.
            Сейчас это глобальная сеть институтов развития менеджмента, заинтересованных в качестве
            образования и инновациях в этой области, а также в широкой области предметов, связанных с
            изменениями, насчитывающая 200 членов из 50 стран Европы, Северной Америки, Латинской Америки, Африки и Азии.
        </div>
        <div class="col-md-4 text-dark">
            <h4 class="fst-italic mb-3 text-primary">Sponsors</h4>
            <img src="https://socinfo2018.hse.ru/public/logo_rfbr.png" class="img-fluid" width="50%">
            <img src="https://socinfo2018.hse.ru/public/acm-300x105.png" alt="" class="img-fluid" width="65%">
            <img src="https://socinfo2018.hse.ru/public/1280px-Springer.svg_-300x83.png" alt="" class="img-fluid" width="50%">
            <img src="https://socinfo2018.hse.ru/public/hse_logo_full.png" alt="" class="img-fluid" width="38%">
            <img src="https://socinfo2018.hse.ru/public/zdes_logo.png" alt="" class="img-fluid" width="40%">
        </div>
    </div>
</div>


{#myrow#}
<div class="myrow">
    <h4 class="fst-italic text-primary">Social Informatics Steering Committee</h4>

    <div class="row justify-content-md-between mt-4">
        <div class="col-md-5 text-dark">
            <b>Adam Wierzbicki</b>, PJIIT, Poland<br>
            <b>Karl Aberer</b>, EPFL, Switzerland<br>
            <b>Katsumi Tanaka</b>, Kyoto University, Japan<br>
            <b>Anwitaman Datta</b>, Nanyang Technological University, Singapore<br>
            <b>Ee-Peng Lim</b>, Singapore Management University, Singapore<br>
            <b>Noshir Contractor</b>, Northwestern University, US<br>
        </div>
        <div class="col-md-4 text-dark">
            <b>Michael Macy</b>, Cornell University, US<br>
            <b>Hsinchun Chen</b>, University of Arizona, US<br>
            <b>Sue B. Moon</b>, KAIST, Korea<br>
            <b>Andreas Ernst</b>, University of Kassel, Germany<br>
            <b>Andreas Flache</b>, University of Groningen, Netherlands<br>
            <b>Dirk Helbing</b>, ETH, Switzerland<br>
        </div>
    </div>
</div>

