<footer class="text-center text-lg-start bg-white text-muted">

      <section class="d-flex justify-content-around justify-content-center p-5 border-bottom ">
      <div class="me-5 d-none d-lg-block">
      <span>Almau Contacts</span>
      </div>
          <div class="justify-content-around mr-md-5">
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="me-4 link-secondary mr-md-5">
                <i class="fab fa-github"></i>
              </a>
    </div>

    </section>
</footer>
