{% extends "base.html" %}
{% block content %}

<div class="hover-text-one mt-4">
    <figure class="effect-text-three">
    <img class="ddd" src="http://www.almau.edu.kz/images/uploads/1215f253a07e1f7b318da2fb9a0a4b66.jpeg" alt=""/>
        <figcaption>
            <h3>Lorem ipsum</h3>
            <p></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="row position-absolute mr-5 pr-3">
                <div class="col-4"></div>
                <div class="col-4"><img class="almaulogo" src="https://www.almau.edu.kz/download/6781/14176838149949.png?unready"></div>
                <div class="col-4"></div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

        </figcaption>
    </figure>
</div>
{% include "content.html" %}
{% endblock %}