{% extends "base.html" %}

{% block content %}
<!-- Background image -->
<div class="bg-image d-flex justify-content-center align-items-center mt-1"
  style="background-image: url('https://www.almau.edu.kz/images/uploads/193030cd57f9e147abd3abde61ece97f.png'); height: 50vh;">
</div>
<!-- Background image -->


<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-4 offset-md-1">
            <h3 class="text-dark">Вестник ToU</h3>
            <p class="fst-italic">Инструкция для подачи статьи</p>
        </div>
        <div class="col-6">
            Алматы Менеджмент Университет – предпринимательский, социально-ответственный университет мирового класса.
            Миссия:
            "Мы делаем мир лучше через развитие образования, исследований и предпринимательства."
            Более 34 лет на рынке образования, старейший частный вуз страны, 1-ая бизнес-школа Республики Казахстан, пионер бизнес-образования в СНГ.
            История AlmaU начиналась с небольшой Школы менеджмента в далеком 1988 году. Школы, которая стала первой ласточкой, выпускающей для нашей молодой страны менеджеров нового поколения.
            В 1996 году, когда первый этап развития был успешно пройден, Алматинская школа менеджеров (АШМ) была преобразована в Международную Академию Бизнеса.
            И через 25 лет с момента создания МАБ вышла на следующий виток спирали, ведущей вверх - Академия получила статус УНИВЕРСИТЕТА.
            В соответствии с новой стратегией AlmaU, в 2014 году вузом был взят курс на создание модели предпринимательского университета.
            На счету университета - обучение менеджменту первых казахстанских предпринимателей, первые программы МВА и DBA в РК, лучшие преподаватели и востребованные выпускники.
        </div>
    </div>
</div>


    <div class="row offset-2" style="margin-top: 80px;">
        <div class="col s12 m12 l4 offset-l2" style="padding: 10px;">
            <div style="font-size: 27px; font-weight: bold; margin: 0 0 10px 0;">Наши партнеры</div>
        </div>
        <div class="col s12 m12 l4" style="padding: 0 10px 10px 10px;">
            <div class="partners_wrapper">
                <a href="https://www.crossref.org/" class="partner_link"><img src="https://vestnik-philological.tou.edu.kz/assets/images/crossref.png" alt="" class="crossref"></a>
                <a href="https://www.doi.org/" class="partner_link"><img src="https://vestnik-philological.tou.edu.kz/assets/images/doi.png" alt="" class="doi"></a>
            </div>
        </div>
    </div>
<div class="mt-5">
    <h2 class="text-center">Последние выпуски</h2>
    <div class="row ml-md-5 mr-md-5 pl-5 mt-5">
        <div class="col-sm">
            <div class="row">
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-md-4 text-center">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Гуманитарная среда</h5>
                    <p class="card-text">Выпуск 2, 2021г.</p>
                    <a href="#" class="btn btn-primary">Содержание</a><a href="#" class="btn border ml-2">Скачать</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


{% endblock %}