{% extends "base.html" %}
{% block content %}



<div class="myrow">
    <h4 class="fst-italic text-primary" style="font-size: 40px">Organizers</h4>
    <hr width="90px" align="left" style=" border: 1px solid blue;" />
    <h4 class="fst-italic mb-3 mt-4 text-primary">Organizing Committee</h4>
    <div class="row mt-5">
        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="text-center mt-3">
                    <img src="https://socinfo2018.hse.ru/public/people/Ingmar_Weber.jpg" alt="" width="110px" class="rounded-circle">
                </div>
                <div class="card-body">
                    <h5 style="font-size: 19px" class="text-center text-primary">Special title treatment</h5>
                    <p style="font-size: 15px" class="text-center text-dark">HSE, Russia</p>
                    <p class="font-italic text-dark text-center">Programme Committee co-chair</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}