{% extends "base.html" %}
{% block content %}



<div class="myrow">
    <h4 class="fst-italic text-primary" style="font-size: 40px">Registration & Visa</h4>
    <hr width="90px" align="left" style=" border: 1px solid blue;" />
    <h4 class="fst-italic mb-5 mt-5 text-primary">Registration</h4>
<table class="table text-dark">
      <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Early bird registration fees (until 1.07.2023)</th>
      <th scope="col">Normal registration fee (from 15.08.2023)</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Student</th>
      <th scope="col">Regular</th>
      <th scope="col">Student</th>
      <th scope="col">Regular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Citizens of Kazakhstan</th>
      <td>25$</td>
      <td>50$</td>
      <td>40$</td>
      <td>70$</td>
    </tr>
    <tr>
      <th scope="row">Citizens of Central Asian countries</th>
      <td>30$</td>
      <td>60$</td>
      <td>50$</td>
      <td>80$</td>
    </tr>
    <tr>
      <th scope="row">Other countries</th>
      <td>50$</td>
      <td>70$</td>
      <td>70$</td>
      <td>100$</td>
    </tr>
  </tbody>
</table>
</div>


<div class="myrow">
    <h4 class="fst-italic mt-5 text-primary">Visa</h4>
    <hr width="40px" align="left" style=" border: 1px solid blue;" />
    <div class="row justify-content-md-between mt-5">
        <div class="col-md-12 text-dark">
{#            <h4 class="fst-italic mb-3 text-primary">30th CEEMAN Annual Conference Proceedings</h4>#}
                <ul class="list-unstyled">
                    Согласно Конституции Республики Казахстан, Закона Республики Казахстан "О миграции населения" от 22.07.2011 г. №477-IV,
                Закон "О правовом положении иностранных граждан в Республике Казахстан" от 19 июня 1995 года N 2337 с изменениями и
                дополнениями на 22.07.2011 г., каждый иностранный гражданин и лицо без гражданства при въезде в РК обязан получить и заполнить миграционную карту.
                Миграционная карта заполняется иностранным гражданином лично - разборчиво, без исправлений, на русском языке. В случае,
                если иностранный гражданин не владеет русским языком, допускается заполнение им сведений о себе буквами латинского алфавита в соответствии с данными,
                указанными в паспорте или ином документе, удостоверяющем личность.  Миграционная карта заполняется на каждого иностранного гражданина независимо от возраста.
            <p class="fst-italic mt-2 mb-3">В пункте «Цель прибытия в РК» необходимо указать:<b> учеба.</b></p>
            <ul>
                <li>1. Иностранный гражданин может въехать в Казахстан и пройти обучение в АлмаU только по учебной визе.
                    Приглашение оформляется Управлением международного развития Управление международного развития АлмаU (по программам входящей мобильности)
                    либо Центром поддержки студентов АлмаU (для международных студентов, обучающихся на программах бакалавриата и магистратуры - full time) заранее.
                    Срок подачи необходимых документов в Управление международного развития АлмаU – не позже 45 дней до предполагаемого въезда в страну.
                    Приглашение оформляется в УМП ДВД  в г. Алматы, срок оформления приглашения – 5-15 дней. Стоимость визы, получаемой впервые равна 0,5 МРП. Повторная виза - 30 МРП. </li>
                <li> 2. Международный студент АлмаU (нерезидент РК) должен быть поставлен на миграционный учет в пятидневный срок со дня прибытия в РК.</li>
            <li> 3. Для продления регистрации международный студент обязан обратиться в Управление международного развития (по программам входящей мобильности)
                либо в Центр поддержки студентов (для международных студентов, обучающихся на программах бакалавриата и магистратуры - full time) АлмаU за 10
                дней до срока завершения регистрации (если регистрация заканчивается 01 сентября, студент должен обратиться не позднее 20 августа), оплата за
                продление визы 30 МРП. От продления освобождаются этнические казахи (оралманы).</li>
                <li>4. В течение 1 рабочего дня с момента пересечения границы РК иностранный студент обязан обратиться в:</li>
                    <strong><p class="text-center mt-4"><a href="#">Управление международного сотрудничества АлмаU:  г. Алматы, ул. Розыбакиева 227,</a></p>
                    <p class="text-center"><a href="#">каб. 103, тел.: +7 727 313-30-40, вн. 145,</a></p>
                    <p class="text-center"><a href="#">e-mail: n.mukhamediyeva@almau.edu.kz</a></p>
                    <p class="text-center"><a href="#">Наргиз Мухамедиева, Менеджер отдела академической мобильности Global AlmaU</a></p></strong>


            </ul>

                            <div>Предоставить следующие документы:
а) Национальный паспорт (подлинник);
б) Миграционную карту с отметкой о пересечении границы (оригинал);
в) Справка (сертификат) о лабораторном обследовании на ВИЧ-инфекцию;
г) Для студентов 1-курса - фотографии 3х4  – 2 шт;
д) Нотариальное заверенное заявление с согласием владельца жилого помещения на имя начальника УМП ДВД г.Алматы  (на проживание иностранного студента в принадлежащем ему помещении и на постановку на миграционный учёт по указанному адресу);
е) Копия удостоверения личности владельца жилого помещения;
ж) Копия договора об аренде помещения;
</div>
        </div>
    </div>
</div>
{% endblock %}